{% extends 'base.html' %}


{% block content %}

<form action="index.php" method="post">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-12">
            <input type="email" class="form-control" name="mail">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Mot de passe</label>
        <div class="col-sm-12">
            <input type="password" class="form-control" name="mdp">
        </div>
    </div>
    <input type="hidden" name="controleur" value="connexion">
    <input type="hidden" name="action" value="valider">
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>

{% endblock %}
