{% extends 'base.html' %}


{% block content %}
<div class="nuage_base">
    <div class="wrapper">
        <div class="box1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box5" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box6" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box7" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box8" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box9" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box10" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box11" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box12" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box13" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box14" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <div class="class_image">
        <img src="/static/img/logo.png" id="drag1" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag2" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag3" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag4" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag5" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag6" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag7" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag8" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag9" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag10" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag11" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag12" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag13" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
        <img src="#" id="drag14" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
    </div>
</div>
{% endblock %}