{% extends 'base.html' %}


{% block content %}
<div class="nuage_base">
    <div class="wrapper">
        <div class="box1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box5" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box6" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box7" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box8" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box9" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box10" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box11" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box12" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box13" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="box14" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <br><br>

<!-- {% if image in images %} -->
{% load static %}
    <div class="class_image">
        <img src="{% static ''%}{{ image.chemin }}" id="drag1" class="imagenuage" draggable="true" ondragstart="drag(event)" alt="">
    </div>

<!-- {% endif %} -->
</div>

{% endblock %}