{% extends 'base.html' %}

{% block content %}

    <div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Résultat :</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
{% for image in images %}
{% load static %}
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="{% static ''%}{{ image.chemin }} " alt="">
    </div>

{% empty %}
    <p>Aucune Photo.</p>



{% endfor %}
  </div>
</div>

{% endblock %}